<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no, maximum-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<title>PowerPad</title>
	<link rel="stylesheet/less" type="text/css" href="/Views/default.less" />
	<script src="/Libs/jquery-2.0.3.min.js"></script>
	<script src="/Libs/less.js" type="text/javascript"></script>
	<script src="/Libs/markdown.js" type="text/javascript"></script>

	<script>
		// Handles display of progress bar
		function ProgressBar(selector) {
			var $bar;
			$(function () { $bar = $(selector); });

			return {
				setProgress: function (progress) {
					// Sanitize
					if (progress > 100)
						progress = 100;
					else if (progress < 0)
						progress = 0;

					// Calculate color as a linear progression from green to red
					var startColor = 0x00FF00;
					var endColor = 0xFF0000;

					var diffR = (startColor >> 16 & 0xFF) - (endColor >> 16 & 0xFF);
					var diffG = (startColor >> 8 & 0xFF) - (endColor >> 8 & 0xFF);
					var diffB = (startColor & 0xFF) - (endColor & 0xFF);

					var currentR = parseInt((startColor >> 16 & 0xFF) - (diffR * progress / 100));
					var currentG = parseInt((startColor >> 8 & 0xFF) - (diffG * progress / 100));
					var currentB = parseInt((startColor & 0xFF) - (diffB * progress / 100));

					var color = 'rgb(' + currentR + ',' + currentG + ',' + currentB + ')';

					$bar.css('background-image', '-webkit-linear-gradient(left, ' + color + ' 0%, ' + color + ' ' + progress + '%, rgba(255,255,255,0.5) ' + progress + '%)');
					$bar.show();
				}
			};
		};

		// Handles display of status messages
		var Status = new function () {
			var $status;
			$(function () { $status = $('#status'); });

			return {
				info: function (msg) {
					$status.removeClass();
					$status.addClass('information');
					$status.html(msg);
					$status.fadeIn();
				},

				error: function (msg) {
					$status.removeClass();
					$status.addClass('error');
					$status.html(msg);
					$status.fadeIn();
				},

				clear: function () {
					$status.fadeOut();
				}
			};
		}();
	</script>

	<script>
		var lastData = null;
		var timeProgressBar = new ProgressBar('#timeBar');
		var slideProgressBar = new ProgressBar('#slideBar');

		$(function () {
			// Set time values
			var date = new Date();
			var defaultStartTime = date.getHours() + ':00';
			var defaultEndTime = date.getHours() == 23 ? '23:59' : (date.getHours() + 1) + ':00';

			$('#startTime').text(localStorage.getItem('startTime') != null ? localStorage.getItem('startTime') : defaultStartTime);
			$('#endTime').text(localStorage.getItem('endTime') != null ? localStorage.getItem('endTime') : defaultEndTime);

			// Wire up time clicks
			$('#endTime, #startTime').on('click', function () {
				var time = prompt($(this).attr('data-message'), $(this).text());

				// Validate value
				if (!isValidTime(time))
					return;

				// Store value for future use
				localStorage.setItem($(this).attr('id'), time);

				// Set value & update progress
				$(this).text(time);
				updateTimeProgress();
			});

			// Update progress to begin with
			updateTimeProgress();

			// Reset slide progress
			slideProgressBar.setProgress(0);

			// Scroll to bottom to hide address bar on iPad
			window.scrollTo(0, document.body.scrollHeight);

			// Main loop that updates display
			setInterval(function () {
				$.ajax({
					url: '/slideshowdata/',
					timeout: 1000,
					cache: true,
					success: processData,
					error: processFailure
				});

				updateTimeProgress();
			}, 1000);
		});

		// Updates the current progress based on the start & end times
		function updateTimeProgress() {
			var date = new Date();

			// Set overall clock
			$('#currentTime').text(date.getHours() + ':' + ((date.getMinutes() < 10 ? '0' : '') + date.getMinutes()));

			// Get the presentation start & end times
			var startTime = $('#startTime').text();
			var endTime = $('#endTime').text();

			// Unless we have valid times, we can't show the progress bar
			if (!isValidTime(startTime) || !isValidTime(endTime)) {
				timeProgressBar.setProgress(0);
				return;
			}

			// Get valid second times
			var startTimeInSeconds = parseInt(startTime.split(':')[0]) * 3600 + parseInt(startTime.split(':')[1]) * 60;
			var endTimeInSeconds = parseInt(endTime.split(':')[0]) * 3600 + parseInt(endTime.split(':')[1]) * 60;
			var presentationDurationInSeconds = (endTimeInSeconds - startTimeInSeconds);

			// Negative time?
			if (presentationDurationInSeconds <= 0) {
				timeProgressBar.setProgress(0);
				return;
			}

			// Get current time in minutes
			var currentTimeInSeconds = date.getHours() * 3600 + date.getMinutes() * 60 + date.getSeconds();

			// Handle current time being either before or after the presentation
			if (currentTimeInSeconds < startTimeInSeconds) {
				timeProgressBar.setProgress(0);
				return;
			} else if (currentTimeInSeconds > endTimeInSeconds) {
				timeProgressBar.setProgress(100);
				return;
			}

			// If we're in the middle of a presentation, calculate the progress
			var progress = (currentTimeInSeconds - startTimeInSeconds) / presentationDurationInSeconds * 100;
			timeProgressBar.setProgress(progress);
		}

		// Is the input a valid time in the XX:YY format?
		function isValidTime(time) {
			return /^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/.test(time);
		}

		function processFailure(jqXHR) {
			switch (jqXHR.status) {
				case 404:
					switch (jqXHR.responseText) {
						case 'No active slide show':
							Status.info('Slide show not running...');
							return;

						case undefined:
							Status.error('Lost connection to PowerPad server');
							return;
					}
					return;

				case 0:
					Status.error('Lost connection to PowerPad server');
					return;
			}

			Status.error('Unexpected error (' + jqXHR.status + '): ' + jqXHR.responseText);
		}

		function processData(data) {
			Status.clear();

			// Update status, but only if slide has changed
			if (lastData == null || lastData.currentSlideNumber != data.currentSlideNumber) {

				// Are we on the last slide?
				if (data.currentSlideNumber >= data.numberOfSlides) {
					$('#nextSlideImg').attr('src', 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==');
					$('#currentSlide').text(data.numberOfSlides + ' / ' + data.numberOfSlides);
					$('#endMessage').show();
				} else {
					$('#nextSlideImg').attr('src', '/slideimage/?Number=' + (data.currentSlideNumber + 1));
					$('#currentSlide').text((data.currentSlideNumber + 1) + ' / ' + data.numberOfSlides);
					$('#endMessage').hide();
				}

				// Update slide progress
				slideProgressBar.setProgress(Math.ceil(data.currentSlideNumber / data.numberOfSlides * 100));

				// Update notes
				var rawNote = data.currentSlideNotes;
				$('#notes').html(markdown.toHTML(rawNote));
			}

			// Always store last data retrieved from server
			lastData = data;
		}
	</script>

</head>

<body>
	<img id="nextSlideImg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
	<div id="endMessage">End of slide show</div>
	<div id="status"></div>
	<div id="timeBar"></div>
	<div id="startTime" data-message="When does the presentation begin?">17:15</div>
	<div id="endTime" data-message="When does the presentation end?">18:15</div>
	<div id="currentTime">17:45</div>
	<div id="slideBar"></div>
	<div id="currentSlide"></div>
	<div id="notes"></div>
</body>
</html>